body {
    text-align: center;
    background: #c9eef6;
    font-family: sans-serif;
}

button {
  font-size: xx-large;
  border: none;
  padding: 15px 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-color:black;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
}
