<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>🐦 It's birds innit</title>
  <meta name="author" content="Tyler Wengerd">
  <meta name="description" content="BTO Bird List lookup">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@enigmango" />
  <meta name="twitter:title" content="BTO Bird List lookup" />
  <meta name="twitter:description" content="BTO Bird List lookup" />
  <link rel="stylesheet" href="static/main.css" type="text/css" media="screen" charset="utf-8"/>
 </head>
 <body>
  <form action="{{ url_for("birdie")}}" method="post">
    <label for="search">Search:</label>
    <br />
    <input type="text" id="search" name="search" value="{{ value }}">
    <br />
    <br />
    <button type="submit" title="Find exact match" name="button" value="search">🐦</button>
    <button type="submit" title="Find anything close please" name="button" value="fuzzy_search">?🐦?</button>
  </form>
  <hr>
  <div class="results">
    {% if results %}
      {% for bird in results %}
        <table>
        {% for key, value in bird.items() %}
        <tr>
            <td><b>{{ key }}</b></td>
            <td> <input type="text" value="{{value}}" readonly></td>
          </tr>
        {% endfor %}
        </table>
        <br />
      {% endfor %}
    {% else %}
      No match
    {% endif %}
  </div>
  <sub>
    <a href="/static/birds.json">Just show me all the bird info</a> | <a href="https://gitlab.com/tywe/btobirds">Open source</a>
  </sub>
 </body>
</html>


